.mediaViewInfo {
	--web-view-name: SERVICE – 2;
	--web-view-id: SERVICE___2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: SERVICE___2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#SERVICE___2 {
	position: absolute;
	width: 1920px;
	height: 3193px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: SERVICE – 2;
	--web-view-id: SERVICE___2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_1085 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 672px;
	left: 0px;
	top: 2287px;
}
.Rectangle_1059 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 672px;
	left: 0px;
	top: 1099px;
}
#Group_38273 {
	position: absolute;
	width: 1465.886px;
	height: 649.749px;
	left: 227.712px;
	top: 122.201px;
	overflow: visible;
}
#Mask {
	position: absolute;
	width: 1464px;
	height: 528.749px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Mask_b {
	opacity: 0.4;
}
.Mask_b {
	overflow: visible;
	position: absolute;
	width: 1464px;
	height: 528.749px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	position: absolute;
	width: 1465.886px;
	height: 649.749px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1052 {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 78px;
	left: 173.288px;
	top: 478.799px;
}
#Services {
	position: absolute;
	left: 418px;
	top: 608px;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	line-height: 53px;
	margin-top: -6px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(96,138,36,1);
}
.Rectangle_1062 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 155px;
	left: 0px;
	top: 3033px;
}
#__Copyright_2018__Zo {
	position: absolute;
	left: 843px;
	top: 3111px;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: left;
	font-family: Chivo-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(96,125,139,1);
}
#Invest_on_your_conve {
	position: absolute;
	left: 368px;
	top: 1179px;
	overflow: visible;
	width: 294px;
	height: 48px;
	line-height: 40px;
	margin-top: -2px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co {
	position: absolute;
	left: 368px;
	top: 1244px;
	overflow: visible;
	width: 498px;
	height: 435px;
	line-height: 32px;
	margin-top: -7px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(50,65,72,1);
}
#Rectangle_1066 {
	position: absolute;
	width: 664px;
	height: 598px;
	left: 984px;
	top: 1136px;
	overflow: visible;
}
#But_I_must_explain_to_you_how_ {
	position: absolute;
	left: 306px;
	top: 807px;
	overflow: visible;
	width: 1310px;
	height: 279px;
	line-height: 32px;
	margin-top: -7px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Our_Membership {
	position: absolute;
	left: 833px;
	top: 729px;
	overflow: visible;
	width: 255px;
	white-space: nowrap;
	line-height: 59px;
	margin-top: -11.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_1066_cd {
	opacity: 0.05;
}
.Rectangle_1066_cd {
	position: absolute;
	overflow: visible;
	width: 664px;
	height: 598px;
	left: 984px;
	top: 1136px;
}
#Invest_on_your_conve_ce {
	position: absolute;
	left: 708px;
	top: 2085px;
	overflow: visible;
	width: 601px;
	height: 48px;
	line-height: 40px;
	margin-top: -2px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Lorem_ipsum_dolor_sit_amet__co_cf {
	position: absolute;
	left: 463px;
	top: 2150px;
	overflow: visible;
	width: 1019px;
	height: 97px;
	line-height: 32px;
	margin-top: -7px;
	text-align: center;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(50,65,72,1);
}
#Rectangle_1066_cg {
	position: absolute;
	width: 1280px;
	height: 226px;
	left: 368px;
	top: 1816px;
	overflow: visible;
}
#Rectangle_1069 {
	opacity: 0.2;
}
.Rectangle_1069 {
	position: absolute;
	overflow: visible;
	width: 1280px;
	height: 226px;
	left: 368px;
	top: 1816px;
}
#Lorem_ipsum_dolor_sit_amet__co_ci {
	position: absolute;
	left: 1078px;
	top: 2447px;
	overflow: visible;
	width: 498px;
	height: 435px;
	line-height: 32px;
	margin-top: -7px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(50,65,72,1);
}
#Rectangle_1066_cj {
	position: absolute;
	width: 664px;
	height: 598px;
	left: 330px;
	top: 2324px;
	overflow: visible;
}
#Rectangle_1070 {
	opacity: 0.05;
}
.Rectangle_1070 {
	position: absolute;
	overflow: visible;
	width: 664px;
	height: 598px;
	left: 330px;
	top: 2324px;
}
#Invest_on_your_conve_cl {
	position: absolute;
	left: 1078px;
	top: 2378px;
	overflow: visible;
	width: 294px;
	height: 48px;
	line-height: 40px;
	margin-top: -2px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Group_38270 {
	position: absolute;
	width: 1920px;
	height: 92px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1036 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 1938px;
	height: 110px;
	left: 0px;
	top: 0px;
}
#About_Us {
	position: absolute;
	left: 675px;
	top: 35px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: About us.html;
	cursor: pointer;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
#Services_cp {
	position: absolute;
	left: 775px;
	top: 35px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
#News {
	position: absolute;
	left: 869px;
	top: 35px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: News.html;
	cursor: pointer;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
#DIY_Portal {
	position: absolute;
	left: 942px;
	top: 35px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: DIY.html;
	cursor: pointer;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
#Contact_Us {
	position: absolute;
	left: 1301px;
	top: 36px;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
#FAQ_S {
	position: absolute;
	left: 1224px;
	top: 36px;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: f a q.html;
	cursor: pointer;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
.Icon_ionic_md_home {
	overflow: visible;
	position: absolute;
	width: 24.328px;
	height: 22.457px;
	left: 609.238px;
	top: 33.188px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 114px;
	height: 40px;
	left: 1428px;
	top: 27px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
#Log_Out {
	position: absolute;
	left: 1462px;
	top: 39px;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	line-height: 15px;
	margin-top: -0.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#WeeWPlainFoundationMirror {
	position: absolute;
	width: 177.313px;
	height: 70.76px;
	left: 401.939px;
	top: 14.568px;
	overflow: visible;
}
#Education {
	position: absolute;
	left: 1046px;
	top: 36px;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Education.html;
	cursor: pointer;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}
#Blogs {
	position: absolute;
	left: 1152px;
	top: 36px;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: blog.html;
	cursor: pointer;
	line-height: 21px;
	margin-top: -1.5px;
	text-align: left;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(96,138,36,1);
}